
<h2>Cursos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-secondary" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="createDependencia" ng-click="nuevaDependencia()">
		  Nuevo
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-6">				    
					    <label for="nombre">Nombre</label>
					    <input type="text" class="form-control" placeholder="Nombre" ng-model="dependencia.nombre">
			    	</div>
			    </div>
				<div class="row">
					<div class="col-sm-12">
						<input type="button" ng-click="guardar(dependencia)" value="Guardar" class="btn btn-secondary" ng-show="action">
						<input type="button" ng-click="actualizar(dependencia)" value="Actualizar" class="btn btn-primary" ng-show="!action">
					</div>
				</div>	
		  	</div>  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="60%">Nombre</th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="20%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr dir-paginate="puesto in puestos | itemsPerPage: perPage" total-items="cursosCount.count">
			    <td><a href="/puesto/{{puesto._id}}" > {{puesto.nombre}}</a></td>
			    
			    <td>
				    	<span ng-if="puesto.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!puesto.estatus" class="label label-danger">
							  Inactivo
							</span>
					</td>
			    <td>
				    <a href="./puesto/{{puesto._id}}" class="btn btn-small btn-info"><i class="fa fa-eye"></i></a>
				    <a href="#" ng-click="editar(puesto._id)" class="btn btn-small btn-success"><i class="fa fa-pencil"></i></a>
				    <a href="#" ng-show="puesto.estatus" ng-click="cambiarEstatus(puesto._id)" class="btn btn-small btn-danger"><i class="fa fa-close"></i></a>
				    <a href="#" ng-show="!puesto.estatus" ng-click="cambiarEstatus(puesto._id)" class="btn btn-small btn-success"><i class="fa fa-check"></i></a>				    	
			    </td>
		    </tr>
			</tbody>
		</table>
		<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
	</div>
</div>





