  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="./" class="navbar-brand navbar-brand-img">
          <img src="./img/logo.png" alt="MVP Ready">
        </a>
      </div> <!-- /.navbar-header -->


      <nav class="collapse navbar-collapse" role="navigation">

        <ul class="nav navbar-nav noticebar navbar-left">

          <li class="dropdown">
            <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell"></i>
              <span class="navbar-visible-collapsed">&nbsp;Notificaciones&nbsp;</span>
              <span class="badge badge-primary">3</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">
              <li class="nav-header">
                <div class="pull-left">
                  Notificaciones
                </div>

                <div class="pull-right">
                  <a href="javascript:;">Marcar como leído</a>
                </div>
              </li>

              <li>
                <a href="./notificaciones.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <i class="fa fa-cloud-upload text-success"></i>
                  </span>
                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">Notificación 1</strong>
                    <span class="noticebar-item-text">Descripción de la notifiación 1.</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 12 minutes atrás</span>
                  </span>
                </a>
              </li>

              <li>
                <a href="./notificaciones.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <i class="fa fa-ban text-danger"></i>
                  </span>
                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">Notificación 2</strong>
                    <span class="noticebar-item-text">Descripción de la notificación 2.</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 20 minutes atrás</span>
                  </span>
                </a>
              </li>

              <li class="noticebar-menu-view-all">
                <a href="./notificaciones.html">Ver todas las notificaciones</a>
              </li>
            </ul>
          </li>



          <li class="dropdown">
            <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="navbar-visible-collapsed">&nbsp;Mensajes&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
              <li class="nav-header">
                <div class="pull-left">
                  Mensajes
                </div>

                <div class="pull-right">
                  <a href="javascript:;">Nuevo Mensaje</a>
                </div>
              </li>

              <li>
                <a href="./page-notifications.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <img src="./img/avatars/avatar-1-md.jpg" style="width: 50px" alt="">
                  </span>

                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">Mensaje 1</strong>
                    <span class="noticebar-item-text">Descripción del mensaje 1</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 20 minutes atrás</span>
                  </span>
                </a>
              </li>

              <li>
                <a href="./page-notifications.html" class="noticebar-item">
                  <span class="noticebar-item-image">
                    <img src="./img/avatars/avatar-2-md.jpg" style="width: 50px" alt="">
                  </span>

                  <span class="noticebar-item-body">
                    <strong class="noticebar-item-title">Mensaje 2</strong>
                    <span class="noticebar-item-text">Descripción del mensaje 2</span>
                    <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 5 hours atrás</span>
                  </span>
                </a>
              </li>

              <li class="noticebar-menu-view-all">
                <a href="./page-notifications.html">Ver todos los mensaje</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-exclamation-triangle"></i>
              <span class="navbar-visible-collapsed">&nbsp;Alerts&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
              <li class="nav-header">
                <div class="pull-left">
                  Alertas
                </div>
              </li>

              <li class="noticebar-empty">                  
                <h4 class="noticebar-empty-title">No hay alertas.</h4>
                <p class="noticebar-empty-text">Por el momento no hay Alertas</p>                
              </li>
            </ul>
          </li>
        </ul>


				
        <ul class="nav navbar-nav navbar-right">    
					
					<blaze-template name="loginButtons" ></blaze-template>

          <li class="dropdown navbar-profile" ng-show="$root.currentUser">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <img src="./img/avatars/avatar-1-xs.jpg" class="navbar-profile-avatar" alt="">
              <span class="navbar-profile-label">rod@rod.me &nbsp;</span>
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu" role="menu">

              <li>
                <a href="./page-profile.html">
                  <i class="fa fa-user"></i> 
                  &nbsp;&nbsp;My Profile
                </a>
              </li>

              <li>
                <a href="./page-pricing.html">
                  <i class="fa fa-dollar"></i> 
                  &nbsp;&nbsp;Plans &amp; Billing
                </a>
              </li>

              <li>
                <a href="./page-settings.html">
                  <i class="fa fa-cogs"></i> 
                  &nbsp;&nbsp;Settings
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="./account-login.html">
                  <i class="fa fa-sign-out"></i> 
                  &nbsp;&nbsp;Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div> <!-- /.container -->
  </header>

  <div class="mainnav">

    <div class="container" ng-controller="PrincipalCtrl">

      <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <nav class="collapse mainnav-collapse" role="navigation">

        <form class="mainnav-form pull-right" role="search">
          <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search">
          <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
        </form>

        <ul class="mainnav-menu">
					<li class="dropdown is-open">
          	<a href="./" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          	Inicio
          	</a>
          </li>

          


          <li class="dropdown">

            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            Catálogos
            <i class="mainnav-caret"></i>					
            </a>

            <ul class="dropdown-menu" role="menu">

              <li ng-repeat="catalogo in catalogos">
                <a href="{{catalogo.url}}">
                <i class="fa {{catalogo.icon}}"></i> 
                &nbsp;&nbsp;{{catalogo.name}}
                </a>
              </li>

             
              
            </ul>
          </li>
        </ul>
      </nav>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->
